@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap');

#swiper-color .swiper-button-next,
#swiper-color .swiper-button-prev {
    color: white;
    @apply font-bold transition-all duration-100
}
#swiper-color .swiper-button-next:hover,
#swiper-color .swiper-button-prev:hover {
    color: rgb(231, 231, 231)
}

@layer base {
    :root {
        --primary-color: #f3f4f6;
        --secondary-color: #111827;
    }
    html {
        @apply min-w-fit overflow-x-hidden
    }
    * {
        @apply font-['Ubuntu']
    }
    
}

@layer components {
    .moving-underline-hover-effect {
        @apply before:content-[""] before:h-[2px] before:w-0 hover:before:w-full relative before:absolute before:right-0 hover:before:left-0 hover:before:right-auto before:bottom-0 before:bg-gray-800 before:transition-all before:duration-200
    }
    #address-panel > div > p {
        @apply text-xl lg:text-2xl text-gray-700
    }
    #address-panel > div > h1 {
        @apply text-lg lg:text-xl
    }
    #dateContainer {
        @apply mt-2
    }
    #dateContainer::-webkit-scrollbar {
        @apply w-0
    }
    .Overlay {
        @apply bg-black/60 fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center
    }
    .Modal {
        @apply bg-white h-max md:w-2/3 xl:w-1/3 w-full mx-1 rounded-xl overflow-hidden
    }
    .swiper.swiper-cards {
        @apply z-0
    }  
    .statsElement:not(:last-child) {
        @apply border-r-[1px] border-gray-400
    }

    .swiper-slide-active .choise-button {
        @apply visible
    } 
    .navbar-buttons {
        @apply text-secondary-color text-2xl absolute right-8 top-1/2 -translate-y-1/2 cursor-pointer lg:hidden
    }
    .cube-wrapper {
        @apply relative shadow-lg w-10 h-10 rounded-l-xl rounded-br-xl
    }
    .cube, .cube div {
        transform-style: preserve-3d;
        @apply absolute w-full h-full top-0 left-0 transition-transform duration-500 ease-in-out
    }
    .cube-front {
        @apply rounded-l-xl rounded-br-xl rounded-tr-sm
    }
    .cube-top {
        transform: translate(50%, 0) rotateY(90deg);
        @apply origin-left
    }
    .cube-wrapper:hover .cube {
        transform: translate(-50%, 0) rotateY(-90deg);
    }
}